.b-application {
  border-color: transparent;
  border-style: solid;
  border-width: 0 15px;
}

.b-application__header {
  text-align: center;
  height: 161px;
}

.b-application__logo {
  margin-top: 41px;
}

.b-application__body {
  .b-container {
    display: flex;
    align-items: flex-start;
  }
}

.b-application__sidebar {
  // border: 1px solid red;
  padding-right: 20px;
}

.b-application__content {
  // border: 1px solid green;
  flex-grow: 1;
}
