.b-filterset {
  width: 232px;
  height: 331px;
  padding: 15px;

  .b-transfers {
    margin: 0 -15px;
  }
}

.b-filterset__group {
  margin-bottom: 33px;
}

.b-filterset__title {
  font-size: 13px;
  text-transform: uppercase;
  margin: 3px 0 11px;
}

@include device-until(585px) {
  .b-filterset {
    width: 100%;
  }
}
