@import './application';
@import './container';
@import './filterset';
@import './ticket';
@import './tickets';
@import './widget';
@import './route';
@import './currency';
@import './transfers';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f7fa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #4A4A4A;
}
