@import './application';
@import './container';
@import './filterset';
@import './ticket';
@import './tickets';

body {
  background-color: #f3f7fa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
